
{% extends 'base.html' %}

{% block content %}
    <h1 class="mb-4">Product Details</h1>

    <!-- Display Categories -->
    <ul class="list-group mb-4">
        {% for category in categories %}
            <li class="list-group-item"><a href="{% url 'products_by_category' category.name %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>

    <!-- Display Products -->
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="{{ product.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">Price: ${{ product.price }}</p>
                        <a href="{% url 'add_to_cart' product_id=product.pk %}" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
